<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <style>
        #mapid {
            width: 1200px;
            height: 800px;
        }
    </style>
</head>
<body>
    <a href='/reportproblem'>Report a problem</a>
    <div id="mapid"></div>


    <script>
        var problems = JSON.parse("{{ problems }}".replace(/&#x27;/g,'"'))

        var map = L.map('mapid').setView([43.6532, -79.3832], 9);
      
        L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
            maxZoom: 28,
            tileSize: 256,
            //zoomOffset: -1,
            //accessToken: 'pk.eyJ1IjoiYW1vbHZlbiIsImEiOiJjanFpOTh3cXYwNXdvNDNvMjFvaGwzMG01In0.5ci2HOqLpNJFz3ZNxYHK-w'
        }).addTo(map);
        Object.keys(problems).forEach(function(key) {
        addmarker(problems[key]['lat'], problems[key]['lng'], problems[key]['title'], problems[key]['id'], problems[key]['severity'])
         });
        function addmarker(lat, lng, title, id, severity){
        var marker = L.marker([lat, lng]).addTo(map);
        var popup = marker.bindPopup(title + '<br></br>' + '<a href="/marker/'+id + '"> view this report </a>'  );
        }
    

    </script>
</body>