<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    {% load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'viewmarker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styleShared.css' %}">

    <title>View Marker</title>
</head>
<body>
    <h1 id="title">{{problem.title}}</h1>
    <img src="data:image/png;base64,{{problem.image}}" alt="litter2" class="litter-img">
    
    
    <div class="info">    
        <h3 id="type">Type: {{problem.type}}</h3>
        <h3 id="description">description: {{problem.description}}</h3>
        <h3 id="severity">Severity: {{problem.severity}}</h3>
    </div>
    
</body>
</html>