<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    {% load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'viewmarker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styleShared.css' %}">

    <title>View Marker</title>
</head>
<body>
    <h1 id="locationHeader">Cummer Park</h1>
    <img src="./images/image.png" alt="litter2" class="litter-img">
    <div class="button-container">
        <button>Still There</button>
    </div>
    
    <p class="confirmations">4 confirmations<br>Last updated: 09/16/2021</p>

    <div class="button-container">
        <button>Cleaned Up</button>
    </div>
    <p class="confirmations">1 confirmations<br>Last updated: 09/18/2021</p>
        
    <div class="info">    
        <h3 id="type">Type: Litter</h3>
        <h3 id="description">Description: Near the benches</h3>
        <h3 id="severity">Severity: 2</h3>
    </div>
    
</body>
</html>