
#form{
    display: flex;
    align-items: center;

    justify-content: center;
    flex-direction: column;

    margin:30px;
    border:1px solid;

    max-width: fit-content;
    padding: 33px;
    border-radius: 2%;

    margin-right: auto;
    margin-left: auto;
}

.form-group{
    min-width: 300px;
    margin:20px
}
.btn{
    min-width: 300px;
    margin:20px;
    margin-top: 10px;
}