#locationHeader{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

p{
    font-family: 'Roboto', sans-serif;
}

h3{
    font-family: 'Roboto',sans-serif;
}

.litter-img{
    width: 259.3px;
    height: 162.4px;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

button{
    background-color: #0094FF; /* Green */
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.button-container{
    text-align: center;
}

.confirmations{
    margin-left: 2rem;
    margin-top: 0.2rem;
    margin-bottom: 1.5rem;
}

.info{
    border: 3px solid rgb(137, 190, 251);
    border-radius: 10px;
    padding: 1rem 1rem 0rem 0rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

#type,#description,#severity{
    padding-left: 2rem;
    margin-bottom: 10px;
    margin-top: 0px;
}